html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  background-image: linear-gradient(90deg, #1bcab6 ,#1bca98);
  border-radius: 10px!important;
  text-transform: capitalize!important;
  color: white!important;
}

.delete-button {
  background-image: linear-gradient(90deg, rgb(218, 75, 75) ,rgb(186, 24, 236));
  border-radius: 10px!important;
  text-transform: capitalize!important;
  color: white!important;
}

.nav-link {
  margin: 10px!important;
  padding: 20px!important;
}

:root {
  custom-color: #594e9b
}

.menu {
  display: none;
}

@media (max-width: 428px) {
  .menu {
    display: flex;
  }

  .sidebar-seen {
    display: none;
  }

  .sidebar {
    position: absolute;
    z-index: 1;
    background-color: #fafafa;
  }
}